@import "tailwindcss";
@plugin "tailwindcss-animate";

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

@keyframes glow-pulse {
  0% {
    text-shadow:
      0 0 8px rgba(239, 68, 68, 0.9),
      0 0 20px rgba(239, 68, 68, 0.7),
      0 0 40px rgba(239, 68, 68, 0.5);
  }

  50% {
    text-shadow:
      0 0 14px rgba(239, 68, 68, 1),
      0 0 35px rgba(239, 68, 68, 0.9),
      0 0 70px rgba(239, 68, 68, 0.7);
  }

  100% {
    text-shadow:
      0 0 8px rgba(239, 68, 68, 0.9),
      0 0 20px rgba(239, 68, 68, 0.7),
      0 0 40px rgba(239, 68, 68, 0.5);
  }
}

.glow-animate {
  animation: glow-pulse 1.5s cubic-bezier(.4,0,.6,1) infinite;
}
